section{
    /* border: solid 2px black; */
    /* background-color: bisque; */
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1em;
}

.details{
    position: relative;
}

.details > div{
    margin-left: 2.5%;
    font-size: 14px;
}

.heading{
    position: relative;
    border-bottom: solid 1px black;
    margin: 0 2.5% 1em 2.5%;
}

h3{
    /* text-align: center; */
    margin: 0;
    padding-bottom: 10px;
}

.edit{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.edit:hover{
    cursor: pointer;
}

form{
    /* background-color: aliceblue; */
    width: 100%;
    padding: 10px;
    
}

.field{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form > *{
    margin: 10px;
}

label{
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

textarea, input{
    width: 90%;
}

.details > .Name{
    font-size: 2em;
    margin-top: 2.5%;
}

.Field.of.Study, .Job.Title {
    font-size: 18px;
}

.Graduation.Date {
    margin-right: 2.5%;
    right: 0;
    position: absolute;
    top: 0;
}

.Grade {
    margin-top: 1em;
}

.Company {
    margin-bottom: 1em;
}

.Start.Date{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10%;
}

.End.Date{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2.5%;
}